<h1 style="text-align: center; color: #E8925E; font-weight: bold;">Os Membros</h1>


    <div class="row row-cols-1 row-cols-md-2" style="width: 100%; margin: auto;">
        <div class="col mb-4">
          <!-- Card -->
          <div class="card" style="width: 70%; border: none; text-align: center;">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://www.empresajrtoledo.com.br/arquivos/imagens/membros2/9fc256a4902d9e4e82d1.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body" style="background-color: #152944; color: white; border: none;">
      
              <!--Title-->
              <h4 class="card-title">Victória Trevizan</h4>
              <!--Text-->
              <p class="card-text">Supervisora de Prática Profissional</p>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card" style="width: 70%; border: none; text-align: center;">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://www.empresajrtoledo.com.br/arquivos/imagens/membros2/7bf1c93c91e9d8c20d95.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body" style="background-color: #152944; color: white; border: none;">
      
              <!--Title-->
              <h4 class="card-title">Tarcísio Coelho</h4>
              <!--Text-->
              <p class="card-text">Conselheiro e Professor Orientador</p>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card" style="width: 70%; border: none; text-align: center;">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://www.empresajrtoledo.com.br/arquivos/imagens/membros2/35452166501619e9f911.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body" style="background-color: #152944; color: white; border: none;">
      
              <!--Title-->
              <h4 class="card-title">Thiago Batisteli da Silva</h4>
              <!--Text-->
              <p class="card-text">Membro Associado</p>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card" style="width: 70%; border: none; text-align: center;">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://www.empresajrtoledo.com.br/arquivos/imagens/membros2/3746ce790e5ce7cc95c2.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body" style="background-color: #152944; color: white; border: none;">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>

        <div class="col mb-4">
          <!-- Card -->
          <div class="card" style="width: 70%; border: none; text-align: center;">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://www.empresajrtoledo.com.br/arquivos/imagens/membros2/c593e6a3a28c27a21583.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body" style="background-color: #152944; color: white; border: none;">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>



        <div class="col mb-4">
          <!-- Card -->
          <div class="card" style="width: 70%; border: none; text-align: center;">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://www.empresajrtoledo.com.br/arquivos/imagens/membros2/07b7c59e0b898863ba52.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body" style="background-color: #152944; color: white; border: none;">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>


        <div class="col mb-4">
          <!-- Card -->
          <div class="card" style="width: 70%; border: none; text-align: center;">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://www.empresajrtoledo.com.br/arquivos/imagens/membros2/5aa2cb87133b03bb53b5.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body" style="background-color: #152944; color: white; border: none;">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>
      </div>